.multi-select {
    position: relative;
    .select {
        &-header {
            position: relative;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 1em;
            padding-bottom: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .heading {
                font-size: 2em;
                display: inline;
            }
        }
        &-footer {
            display: flex;
            justify-content: flex-end;
            button {
                display: inline-block;
                margin: 1em;
                &:last-of-type {
                    margin-right: 0;
                }
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

.field-builder-container {
    outline: 1px solid #d8d8d8c9;
    padding: 1em;
    background: #fefefe;
}
