.multi-select {
    position: relative;
    .select {
        &-footer {
            display: flex;
            justify-content: flex-end;
            button {
                display: inline-block;
                margin: 1em;
                &:last-of-type {
                    margin-right: 0;
                }
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

.field-builder-container {
    outline: 1px solid #d8d8d8c9;
    padding: 1em;
    background: #8e8e8e14;
}
